body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/Fondo7.jpg");
}

.barra{
  background-color: #282659;
}

header.container.row{
  margin-bottom: 0;
  }
}

.logo{
  margin-top: 10px !important;
  width: 0%;
}

@media only screen and (max-width: 768px) {
  header{
  width:110% !important;
  margin-left:10%;
}
}
