body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/Fondo3.jpg");
}

.logo-img{
  width: 200px;
  margin-bottom: -60px;
  margin-left: 120px;
  border: 1px solid red;
  display: inline;
  border-radius: 20px;
  background: white;
}

.socialnet{
  width: 50px;
}

.cuadros{

  border-color: white;
}

.icono_redes{
  text-align: center;
  margin: 15px;
}

.cuadros{
  
}
