body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/Fondo3.jpg");
}

.socialnet{
  height: 60px;
  margin: 10px;
}

.espacio{
  height: 60px;
}
